html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  overflow: hidden;
  background-color: #222;
  box-sizing: border-box;
}

body:hover {
  background-image: url("https://viewcount-hanoimaps.vercel.app/api/count");
}

#map {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
  margin-top: calc(0px - env(safe-area-inset-top, 0px));
}

.layer-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  z-index: 1000;
}
.layer-switcher select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  color: #000;
}
#opacity-slider {
  position: absolute;
  z-index: 1001;
  right: -40px;
  top: 50%;
  width: 140px;
  height: 48px;
  background: transparent;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: center;
}

/* Style Switcher Button */
.maplibregl-ctrl-group .style-switcher-button,
#street-view-btn {
  width: 29px;
  height: 29px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 4px;
}

.maplibregl-ctrl-group .style-switcher-button .style-switcher-icon,
#street-view-btn .style-switcher-icon {
  width: 18px;
  height: 18px;
  filter: invert(0%);
  transition: filter 0.3s ease;
}
.maplibregl-ctrl-group .style-switcher-button.is-satellite .style-switcher-icon,
#street-view-btn.active .style-switcher-icon {
  filter: invert(100%);
}
.maplibregl-ctrl-group .style-switcher-button.is-satellite,
#street-view-btn.active {
  background-color: rgba(30, 30, 30);
}
/* Popup Styles */
.maplibregl-popup-content {
  border-radius: 8px !important;
}

.maplibregl-popup-close-button {
  font-size: 24px !important;
  width: 24px;
  height: 24px;
  line-height: 24px;
  top: 4px !important;
  right: 4px !important;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.maplibregl-popup-close-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
}
