html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
  background-color: #222;
  box-sizing: border-box;
}
body:hover {
  background-image: url("https://viewcount-hanoimaps.vercel.app/api/count");
}
a {
  color: inherit;
}
#map {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
  margin-top: calc(0px - env(safe-area-inset-top, 0px));
}

.maplibregl-popup-content {
  background: rgba(30, 30, 30, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 12px;
  max-width: 300px;
  min-width: 200px;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: rgba(30, 30, 30, 0.85);
}
