html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
  background-color: #222;
  box-sizing: border-box;
}
body:hover {
  background-image: url("https://viewcount-hanoimaps.vercel.app/api/count");
}
a {
  color: inherit;
}
#map {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
  margin-top: calc(0px - env(safe-area-inset-top, 0px));
}

.maplibregl-popup-content {
  background-color: rgba(30, 30, 30, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  gap: 4px;
  max-width: 160px;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: rgba(30, 30, 30, 0.8);
}

/* ===== POPUP ===== */
.menu-popup {
  position: absolute;
  top: 0%;
  left: 0;
  margin-top: -2px;
  margin-left: -2px;
  background-color: rgba(30, 30, 30, 1);
  color: white;
  border-radius: 8px;
  padding: 12px;
  width: 160px;
  line-height: 130%;
  font-size: 12px;
  z-index: 10;
  display: none;
}

.menu-popup ul {
  margin: 8px 0 0 0;
  padding: 0;
  list-style-type: none;
}
.menu-popup p {
  margin: 0;
}

.menu-popup.active {
  display: block;
}

.maplibregl-ctrl-menu {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Ctext x="10" y="16" text-anchor="middle" font-size="16" font-family="Arial, sans-serif" font-weight="bold" fill="%23333"%3Ei%3C/text%3E%3C/svg%3E');
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
}
